body { 
    margin: 0; 
    padding: 0; 
}
#map { 
    position: absolute; 
    top: 0; 
    bottom: 0; 
    width: 100%; 
}
.mapboxgl-popup {
    max-width: 400px;
    font-size: 12px;
    line-height: 16px;
    font-family: arial, sans-serif;
}
.question-top-left {
    background-image: url("question-mark.png"); /* The image used */
    height: 22px;
    width: 22px;
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    position:fixed;
    top: 10px !important;
    left: 10px !important;
    pointer-events: auto;
    cursor: pointer;
}
